.rangi {
  color: #0290ff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 10px;
}

.default {
  background: #e2e2e2;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
}
