.rangi {
  color: #0290ff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 10px;
  background: #c7c7c7;
}

.wrapper {
  width: 85%;
  margin: auto;
  background: #fafafa;
}

ul {
 background: #fafafa;
}
